/* TopCountry */

.country {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.display-country {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 6%;
  flex-wrap: wrap;
}

.country-name,
.country-operation,
.country-price,
.country-lastVariation {
  width: 25%;
  font-style: italic;
}

.display-country-name,
.display-country-operation,
.display-country-price,
.display-country-lastVariation,
.display-country-lastVariation-pos {
  width: 25%;
  align-items: center;
  align-content: space-around;
}

.display-country-position {
  width: 75%;
}

.display-country-lastVariation {
  color: green;
}

.display-country-lastVariation-pos {
  color: red;
}

/* NewsCards */

#slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 400px;
}

#slides {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  animation-name: slide;
  animation-duration: 20s;
  animation: slide 10s infinite alternate;
}

#slides figure {
  display: inline-block;
  width: 100vw;
  max-height: 100%;
  margin: 0;
}

#slides figure img {
  width: 100%;
  /*Centrer l'image verticalement si celle-ci ne peut être affichée totalement*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#slides figure figcaption {
  position: absolute;
  bottom: 0;
  padding: 2.5em 0;
  text-align: center;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

@keyframes slide {
  from {
    top: 3%;
  }

  to {
    top: -30%;
  }
}

/* Courbe */

img {
  width: 100%;
  height: auto;
}

/* Resume */

.resumeList {
  list-style: none;
}

.ResumeInfo {
  display: flex;
  width: 100%;
}

.nom {
  width: 30%;
}

.infoValue {
  width: 30%;
}

.infoTrend {
  width: 30%;
}
