/* TopCountry */

.test-country {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.country {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.display-country {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 2%;
  flex-wrap: wrap;
  font-size: 85%;
}

.country-name,
.country-operation,
.country-price,
.country-lastVariation {
  width: 25%;
  display: flex;
  justify-content: center;
  align-self: center;
  /* font-style: italic; */
}

.display-country-name,
.display-country-operation,
.display-country-price,
.display-country-lastVariation,
.display-country-lastVariation-pos {
  width: 25%;
}

.display-country-position-global {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  margin-top: 2%;
}

.display-country-position-value {
  color: green;
}

.display-country-lastVariation {
  color: green;
}

.display-country-lastVariation-pos {
  color: red;
}

/* NewsCards */

#slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 400px;
}

#slides {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  animation-name: slide;
  animation-duration: 20s;
  animation: slide 10s infinite alternate;
}

#slides figure {
  display: inline-block;
  width: 100vw;
  max-height: 100%;
  margin: 0;
}

#slides figure img {
  width: 100%;
  /*Centrer l'image verticalement si celle-ci ne peut être affichée totalement*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#slides figure figcaption {
  position: absolute;
  bottom: 0;
  padding: 2.5em 0;
  text-align: center;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

@keyframes slide {
  from {
    top: 3%;
  }

  to {
    top: -30%;
  }
}

/* Courbe */

img {
  width: 100%;
  height: auto;
}

/* Resume */

.test-resume {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.Resume {
  width: 100%;
}

.resumeList {
  list-style: none;
}

.ResumeInfo {
  display: flex;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.nom {
  width: 33%;
}

.infoValue {
  width: 33%;
}

.infoTrend {
  width: 33%;
  color: red;
}

.infoTrendPos {
  width: 33%;
  color: green;
}

/* Trouver chirurgien et voyage */

.chirurgien {
  margin-top: -250px;
}

.search,
.spec-select,
.pays-select {
  margin-bottom: 10px;
}

.title-chir,
.title-voy {
  color: royalblue;
}
