.title-faq {
  background-color: darkblue;
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  padding: 5px;
}

.titre-spec,
.question,
.reponse {
  text-align: left;
  margin-left: 20px;
}

.question,
.reponse {
  font-size: 15px;
}

.titre-spec {
  color: royalblue;
}

.reponse {
  font-style: italic;
}

.question {
  margin-bottom: 5px;
}
