p,
hr {
  margin: 0;
}
.color {
  background-color: lightblue;
  border: 1px solid;
}
.menu-icon {
  position: fixed;
  display: flex;
  top: 60px;
  left: 8px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  color: black;
}
.aside_close-icon {
  position: absolute;
  visibility: visible;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;

  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}

.header {
  grid-area: header; /* assigns the grid-area label*/
  background-color: whitesmoke;
}

.welcome {
  display: flex;
  justify-content: space-around;
}

.aside {
  grid-area: aside;
  background-color: darkblue;
}

.main {
  grid-area: main;
  background-color: white;
}
.footer {
  grid-area: footer;
  background-color: whitesmoke;
}
.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: darkblue;
  padding: 0 15px;
}
/*hide by default mobile */
.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  z-index: 2;
  transform: translateX(-245px); /* pushes the aide bar in the negative x axis ie off scren */
}
.aside.active {
  transform: translateX(0); /* brings the aside to view port from left */
}

.aside_list {
  display: flex;
  flex-direction: column;
  padding: 1px;
  margin-top: 75px;
  width: 100%;
  list-style-type: none;
  text-align: center;
}

.aside_list-item {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  padding: 20px;
  color: #ddd;
}

.aside_list-item:hover {
  background-color: royalblue;
  cursor: pointer;
}

/* main, cards mobile*/
.main-cards {
  margin: 10px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'card1'
    'card3'
    'card4'
    'card5';
  grid-gap: 10px;
}
.card {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overviewcard {
  align-self: flex-start;
  padding: 5px;
  width: 100%;
  background-color: rgb(39, 75, 180);
  color: #ddd;
}
.overviewcard p {
  margin: auto;
  text-align: right;
}
/* Force varying heights to simulate dynamic content */
.card:first-child {
  grid-area: card1;
}

.card:nth-child(2) {
  display: none;
}

.card:nth-child(3) {
  grid-area: card3;
}
.card:nth-child(4) {
  grid-area: card4;
}
.card:nth-child(5) {
  grid-area: card5;
}
@media only screen and (min-width: 768px) {
  .grid-container {
    display: grid; /* applies grid layout affecting it's children */
    grid-template-columns: 240px 1fr; /* define the number and sizes of columns */
    grid-template-rows: 80px 1fr 50px; /* defines the number ans sizes of rows*/
    grid-template-areas:
      'aside header'
      'aside main'
      'aside footer'; /* assigns the labeled grid-area to the grid layout, note there has to be two columns and three rows as per the grid template rows/ columns defined */
    height: 100vh;
  }
  .aside {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateX(0);
  }
  .main-cards {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'card1 card2 card2'
      'card3 card4 card5';
    grid-gap: 10px;
    height: 84vh;
  }
  .aside_close-icon {
    display: none;
  }
  .card:nth-child(2) {
    display: flex;
    grid-area: card2;
  }
}
