.color {
  background-color: lightblue;
  border: 1px solid;
}
.global {
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}
.flex {
  display: flex;
}
.header {
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
}
.main {
  width: 100vw;
  height: 80vh;
  justify-content: space-between;
}
.menu {
  width: 20vw;
  height: 100%;
  align-self: flex-end;
}
.dashboard {
  width: 75vw;
  height: 100%;
  justify-self: center;
}
