.liste-commandes {
  padding: 1em;
  background: rgb(109, 172, 168);
  width: 500px;
  display: flex;
  /* align-items: center; */
}

.texte-commande {
  color: rgb(14, 11, 56);
}

.date-commande {
  color: rgb(14, 11, 56);
}

/* Status text */
.liste-commandes .statut-commande .status-text {
  color: #999;
  margin: 0;
  display: inline-block;
}

/* Status (rounded&colored indicator) */
.liste-commandes .statut-commande .status-preparation,
.liste-commandes .status-commande .status-livree {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 6px;
}

.Contact .statut-commande .status-preparation {
  background: #ee8c0b;
}

.Contact .statut-commande .status-livree {
  background: #40d406;
}
